@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Heading";
    src: url(/assets/Fonts/BebasNeue-Regular.ttf);
    format: truetype;
}

@font-face {
    font-family: "Heading1";
    src: url(/assets/Fonts/Manrope-Medium.ttf);
    format: truetype
}

@font-face {
    font-family: "Body";
    src: url(/assets/Fonts/Manrope-Light.ttf);
    format: truetype;
}

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #0A0A0A;
    color: white;
}

body::-webkit-scrollbar {
    display: none;
}
